.aboutUs {
  padding: 50px 0;

  &__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: $txt_color;
  }

  &__block {
    display: flex;
    justify-content: center;
  }

  &__txt {
    width: 70%;
    color: $txt_color;
    font-size: 14px;
    line-height: 2;
  }
}