.header {
  padding: 20px 0 40px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: $txt_color;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 700px;

    @media (max-width: 1200px) {
      display: none;
    }

    &_item {
      &:nth-child(2) {
        .header__list_link_icon {
          position: relative;
        }
      }
    }

    &_link {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 700;
      text-decoration: none;
      color: $txt_color;
      position: relative;

      &_icon {
        width: 20px;
        height: 20px;

        &_qty {
          position: absolute;
          top: -15px;
          right: -10px;
          width: 15px;
          height: 15px;
          background: $button_color;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &--cart {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 70px;
    }
  }

  &__phonesBlock {
    display: flex;
    justify-content: space-between;
    height: 34px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__menuNav {
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 1s ease;
    background-color: $button_color;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    &_closeBtn {
      top: 10px;
      right: 35%;
      transform: translateX(-50%);
      position: absolute;
      background: transparent;
      color: $txt_color;
      border: none;
      outline: none;
      font-weight: 800;
      font-size: 18px;
    }

    &--opened {
      transform: translateX(0);
    }
  }

  &__menuList {
    list-style: none;
    padding: 0;
    margin: 0;

    &_item {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 14px;
    }

    &_link {
      color: $txt_color;
    }
  }

  &__menuphonesBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menuphones {

    &_list {
      list-style: none;
      margin: 0;
      padding: 5px 0;

      &_item {
        padding: 3px 20px;
      }

      &_link {
        color: $txt_color2;
        text-decoration: none;
        font-weight: 800;
      }
    }

    &_callback {
      width: 70px;
      border: none;
      outline: none;
      background: transparent;
      border: 1px dashed $txt_color;
    }
  }

  &__menuOpener {
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    display: none;
    margin-left: 40px;

    @media (max-width: 1200px) {
      display: flex;
    }

    &_item {
      background-color: $button_color;
      width: 30px;
      height: 2px;
    }
  }

  &__phones {
    position: relative;

    &_title {
      height: 34px;
      width: 100px;
      border: none;
      outline: none;
      background-color: $button_color;
      border-radius: 4px;
      display: block;
      position: relative;

      &:before {
        content: '\25BC';
        top: 50%;
        transform: translateY(-50%);
        right: 3px;
        position: absolute;
      }
    }

    &_list {
      list-style: none;
      padding: 0;
      min-height: 0;
      position: absolute;
      top: 40px;
      left: 0;
      margin: 0;
      visibility: hidden;
      border-radius: 2px;
      box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      padding: 5px 0;

      &--open {
        visibility: visible;
      }

      &_item {
        padding: 3px 20px;
        background-color: $bg_color;

        &:hover {
          background-color: $bg_color2;
        }
      }

      &_link {
        color: $txt_color2;
        text-decoration: none;
      }
    }

    &_callback {
      margin-left: 10px;
      width: 70px;
      border: none;
      outline: none;
      background: transparent;
      border: 1px dashed $txt_color;
    }
  }

  &__modal {
    width: 500px;
    height: 334px;
    margin: 50px auto;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    padding: 20px 0;
    position: relative;
    z-index: 2;
    background: $bg_color;

    &_title {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      border-bottom: 1px solid $bg_color2;
      margin: 0;
      padding: 10px 0;
      color: $txt_color3;
    }

    &_close {
      position: absolute;
      top: 10px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &_form {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      color: $txt_color3;
      font-weight: 700;

      &_label {
        margin: 0 0 5px 0;
      }

      &_input {
        height: 50px;
        background-color: $bg_input;
        outline: none;
        border: 1px solid $border_color;
        border-radius: 4px;
        margin: 0 0 15px 0;
        padding: 10px 20px;
        box-sizing: border-box;
      }

      &_button {
        width: 165px;
        height: 50px;
        color: $bg_color;
        background: $bg_color3;
        font-weight: 700;
        border-radius: 4px;
        align-self: flex-end;
      }
    }
  }
}