$button_color: #FFD141;
$button_hover: #E6BC3B;
$button_white_hover: #3a3d49;
$txt_color: #333333;
$txt_color2: #3A3D49;
$txt_color3: #777A83;
$bg_color: #fff;
$bg_color2: #f5f5f5;
$bg_color3: #2A2F3C;
$bg_color4: #bebbbb;
$bg_input: #f1f1f2;
$border_color: rgb(151, 151, 151);
$txt_hover: #23527c;