.discounts {
  padding: 50px 0;

  &__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: $txt_color;
  }

  &__block {
    display: flex;
    justify-content: center;

    &_img {
      width: 100%;
      height: auto;
    }
  }
}